openapi: 3.0.0
info:
  title: User API
  version: 1.0.0

servers:
  - url: https://test143-cxb3cva5c5atczc5.canadacentral-01.azurewebsites.net

paths:
  /users:
    get:
      summary: Get all users
      responses:
        '200':
          description: List of users
    post:
      summary: Create new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: User created
